*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.container{
  display:grid;
  grid-template-areas: "nav nav nav nav"
  "main main main main"
  "footer footer footer footer"
  "";
}

:root{
  --color-grey-100:#F6F6F6;
  --color-grey-500: #716C80;
  --color-grey-800:#485582;
  --color-light:#fff;
  --color-primary:#F9B594;
  --color-primary-100:#FDF2ED;
}





